extends layout

block content
  h1= title
  p Please tap your group:
  #wrapper
    a(href='/study')
        #button01.button
            p Group 1
    a(href='/study')
        #button02.button
          p Group 2